.table__row {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--delimiter);
  gap: 12px;
  padding: 16px 0 16px 0;
}

.table__row:first-child {
  border-top: none;
}

.table__row_inline {
  flex-direction: row;
}

@media only screen and (min-width: 1024px) {
  .table__row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
  }
}
