.table__term {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-secondary);
}

@media only screen and (min-width: 1024px) {
  .table__term {
    border-right: 2px solid var(--delimiter);
    padding: 15px 20px 15px 0;
  }
}
