.table__definition {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--text);
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .table__definition {
    padding: 15px 0 15px 16px;
  }
}
