.about__players {
  background-image: url("../../images/chessplayers.png");
  width: 335px;
  height: 212px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
  .about__players {
    width: 394px;
    height: 250px;
    position: absolute;
    right: -458px;
    top: -10px;
  }
}
