.pagination__dot {
  background-color: var(--dot);
  border: none;
  flex: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
}

.pagination__dot_active {
  background-color: var(--btn-secondary);
}
