.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  list-style: none;
  padding: 0;
  margin: 40px 0 0 0;
}

@media only screen and (min-width: 1024px) {
  .cards {
    margin: 60px 0 0 0;
  }
}
