.card {
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  font-family: "Golos Text";
  width: 100vw;
}

@media only screen and (min-width: 1024px) {
  .card {
    width: calc((100vw / 3) - (var(--page-padding) * 2));
    flex: none;
  }
}
