.section-header__subtitle {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: var(--accent-blue);
  padding: 0 var(--page-padding) 0 var(--page-padding);
  margin: 12px 0 0 0;
}
