.section-header__title {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 36px;
  line-height: 39.6px;
  color: var(--text);
  text-transform: uppercase;
  padding: 0 var(--page-padding) 0 var(--page-padding);
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .section-header__title {
    font-size: 54px;
    line-height: 64.8px;
  }
}
