.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 18px 20px 18px 20px;
  background-image: url("../../images/cover-mobile.webp");
  background-position: center top;
  min-height: 774px;
  gap: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 767px) {
  .header {
    background-image: url("../../images/cover.webp");
    padding: 26px 72px 26px 72px;
    gap: 62px;
    min-height: 700px;
  }
}
