.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 18px 20px 18px 20px;
  background-image: url("../../images/cover-mobile.png");
  background-position: center top;
  min-height: 774px;
  gap: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1024px) {
  .header {
    background-image: url("../../images/cover.png");
  }
}
