.header__title {
  display: flex;
  flex-direction: column;
  font-family: "Merriweather";
  font-size: 36px;
  font-weight: 400;
  line-height: 39.6px;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

@media only screen and (min-width: 360px) {
  .header__title-center {
    align-self: center;
  }

  .header__title-right {
    align-self: end;
  }
}

@media only screen and (min-width: 1024px) {
  .header__title {
    font-size: 60px;
    line-height: 66px;
  }
}
