.renovation__stages {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  color: var(--text);
  gap: 20px;
  padding: 0 var(--page-padding) 0 var(--page-padding);
}

@media only screen and (min-width: 1024px) {
  .renovation__stages {
    font-size: 20px;
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}
