.renovation__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: calc(100vw - var(--page-padding) * 2);
  background-color: var(--background-secondary);
  background-image: url("../../images/texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 62px 20px 20px 20px;
  gap: 28px;
}

@media only screen and (min-width: 1024px) {
  .renovation__container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 4;
    min-width: unset;
    height: unset;
    background-color: unset;
    background-image: unset;
    padding: 0;
    gap: 20px;
  }

  .renovation__container.renovation__container_span {
    grid-column: span 8;
  }
  .renovation__container_double {
    grid-row: span 2;
  }
}
