.renovation__stage {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media only screen and (min-width: 1024px) {
  .renovation__stage {
    background-color: var(--background-secondary);
    grid-column: span 4;
    padding: 20px;
  }
}
