.running-line {
  display: flex;
  align-items: center;
  justify-content: start;
  background: var(--accent-red);
  height: 38px;
  overflow: hidden;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .running-line {
    height: 60px;
  }
}

.running-line__content {
  display: flex;
  flex-direction: row;
  background: var(--accent-red);
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 16px;
  line-height: 17.6px;
  color: var(--white);
  text-transform: uppercase;
  animation: marquee 28s linear infinite;
  white-space: nowrap;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .running-line__content {
    font-size: 22px;
    line-height: 24.2px;
  }
}

.running-line__element {
  margin: 0 30px 0 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
